*{background-color: rgb(216, 157, 29)}
.head1{
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
}

.recpics{
    height: 200px; 
    width: 400px;
}
.ing1{
    border: 2px solid black; 
    text-align: center;
}