*{overflow: hidden; 
    background-color: bisque;
  }
.head1{
    border: 2px solid black;
    margin-left: 25%; 
    margin-right: 25%;
    background-color: antiquewhite;

}
.recmain{
    border: 2px solid black;
    margin: 2px; 
    padding: 2px;
    text-align: center;
    width: 95%;
    align-items: center;
}
.nav1{
    margin: 10px; 
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 95%;

}
.title1{
    display: flex;
    justify-content: center;
}
.subt1{
    display: flex;
    justify-content: center;

}
.intro1{
    border: 2px solid black; 
    margin: 5% 10%; 
}
.navbar1{
    border: 2px solid black;
    background-color: antiquewhite;
}
.intro2{
    border: 2px solid black; 
    margin: 5%;
    padding: 5%;
    background-color: antiquewhite;
}
.head2{
    margin: 1%;
    padding: 1%; 
    border: 2px solid black;
    display: flex;
    justify-content: right;
    background-color: antiquewhite;
}